@import url('https://fonts.googleapis.com/css?family=Roboto:200,400,700');

*{
	padding: 0;
	margin: 0;
	outline: 0;
	border: 0;
	font-size: 100%;
}

body{
	font-family: 'Comic Sans MS', Sans-Serif;
	background-color: lightyellow;
	padding: 40px 60px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

h1{
	font-size: 2.8em;
	color: blue;
	text-shadow: 4px 4px rgba(0, 0, 0, 0.3);
}

p span{font-size: 1.2em}

img.shit{
	border-radius: 50%;
	margin: 20px;
	height: 200px;
	border: 10px dotted purple;
	-webkit-animation: spin           2s linear infinite,
	                   rainbow-border 2s linear infinite;

	-moz-animation:    spin           2s linear infinite,
	                   rainbow-border 2s linear infinite;

	animation:         spin           2s linear infinite,
	                   rainbow-border 2s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes rainbow-border
{
	    0%  { border-color: hsl(  0, 100%, 50%); }
	16.67%  { border-color: hsl( 60, 100%, 50%); }
	33.33%  { border-color: hsl(120, 100%, 50%); }
	   50%  { border-color: hsl(180, 100%, 50%); }
	66.67%  { border-color: hsl(240, 100%, 50%); }
	83.33%  { border-color: hsl(300, 100%, 50%); }
	  100%  { border-color: hsl(360, 100%, 50%); }
}

@-webkit-keyframes rainbow-border
{
	    0%  { border-color: hsl(  0, 100%, 50%); }
	16.67%  { border-color: hsl( 60, 100%, 50%); }
	33.33%  { border-color: hsl(120, 100%, 50%); }
	   50%  { border-color: hsl(180, 100%, 50%); }
	66.67%  { border-color: hsl(240, 100%, 50%); }
	83.33%  { border-color: hsl(300, 100%, 50%); }
	  100%  { border-color: hsl(360, 100%, 50%); }
}

@keyframes rainbow-border
{
	    0%  { border-color: hsl(  0, 100%, 50%); }
	16.67%  { border-color: hsl( 60, 100%, 50%); }
	33.33%  { border-color: hsl(120, 100%, 50%); }
	   50%  { border-color: hsl(180, 100%, 50%); }
	66.67%  { border-color: hsl(240, 100%, 50%); }
	83.33%  { border-color: hsl(300, 100%, 50%); }
	  100%  { border-color: hsl(360, 100%, 50%); }
}

0%   255, 0  , 0
20%  255, 255, 0
40%  0  , 255, 0
60%  0  , 255, 255
80%  0  , 0  , 255
100% 255, 0  , 255