@import url('https://fonts.googleapis.com/css?family=Roboto:200,400,700');

*{
	padding: 0;
	margin: 0;
	outline: 0;
	border: 0;
	font-size: 100%;
}

body{
	font-family: 'Comic Sans MS', Sans-Serif;
	background-color: lightyellow;
	padding: 40px 60px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

h1{font-size: 2.8em;color: blue}
p{font-size: 1.2em;color: green}
